<!DOCTYPE html>
<html lang="en">
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(function (){
            $('.date #user1').datepicker({
                startDate: '+1d',
                'format':'yyyy-mm-dd',
                'autoclose':true,
                daysOfWeekDisabled: [0,2,3,4,5,6]
            });
        });
    </script>

    <meta charset="UTF-8">
    <title>Create Contest</title>
    <link rel="stylesheet" type="text/css" href="css/CreateContest.css">
</head>

<body>

    <div class="alert-box hide">
        <p></p>
        <button type="button" class="close-button" onclick="closeAlert();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<div class="subform">
    <img class="img" src="/images/login.png">
    <h1 class="heading">Create the Contest</h1>
</div>
<div class="main">
    <form class="container" name="cForm" method="post" action="/admin" onsubmit="return getFormItem()">
        <div id="name">
            <h2 class="name1">Contest Name</h2>
            <input class="inputName" type="text" name="inputName" placeholder="&#xf17b;     Contest name"><br>
        </div>

        <div class="date">
            <h2 class="date1">Contest Date</h2>
            <input class="inputDate" type="text" name="inputDate" AUTOCOMPLETE="off" id="user1" placeholder="&#xf073;     yyyy-mm-dd"><br>
        </div>

        <button type="submit">Submit</button>

    </form>

</div>
<script src="/js/CreateContest.js"></script>
</body>
</html>