<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>My contest</title>

</head>
<body>

    <div class="navbar">
        <div>
            <img class="img" src="/images/login.png">
        </div>
        <div>
            <label class="label1">Fantasy E-Sport League</label>
        </div>
        <div>
            <label class="label2"> Hello, <%= username%></label>
        </div>
        <div class="logoutlink">
            <a href="/">Logout</a>
        </div>
    </div>

    

</body>